<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <div class="columns">
      <%= render partial: 'trends' %>
      <%= render partial: 'feed' %>
      <%= render partial: 'who-to-follow' %>
    </div>
  </div>
</section>
